<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Poema de JARL #3</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="poema-container">
    <h1><%= poemaData.Jhosep_Adbel_Romero_Loa %></h1>
    <!-- <h1>${poemaData.Jhosep_Adbel_Romero_Loa}</h1> -->
    <!-- <p><%= poemaData.body.replace(/\n/g, "<br>") %></p> -->
    <p><%- poemaData.body %></p>
    <!-- <p>${poemaData.body.replace(/\n/g, '<br>')}</p> -->
    <p class="autor">— by JARL with ❤️😘😍 for Jojo & Andreita —</p>
</div>
<main style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;">
    <div class="cube" style="position: absolute;top: 7%;left: 5%;">
        <div class="image" style="background: url('https://i2.wp.com/static.wikia.nocookie.net/minecraft_gamepedia/images/a/a7/Heart.svg/revision/latest/scale-to-width-down/630?cb=20200522040142');background-size: cover;"></div>
        <div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
        </div>
    </div>
    <div class="cube" style="position: absolute;top: 7%;left: 78%;
    background: url('https://www.pikpng.com/pngl/b/234-2343575_super-mario-fire-flower-fire-flower-mario-pixel.png');
    background-size: cover;">
        <div class="image"></div>
        <div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
        </div>
    </div>
    <div class="cube" style="position: absolute;bottom: 7%;left: 5%;
    background: url('https://art.pixilart.com/420a3f841c6c2cd.png');
    background-size: cover;">
        <div class="image"></div>
        <div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
        </div>
    </div>
    <div class="cube" style="position: absolute;bottom: 7%;left: 78%;
    background: url('https://static.vecteezy.com/system/resources/previews/027/191/064/original/pixel-art-red-rose-icon-png.png');
    background-size: cover;">
        <div class="image"></div>
        <div>
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
        </div>
    </div>
</main>
</body>
</html>
